// Variables
$body-bg: #fff;
$body-color: #333;
$link-color: #000;
$link-visited-color: #666;
$link-hover-bg: #000;
$link-hover-color: #fff;
$error-color: red;
$notice-color: green;

// Mixins
@mixin default-font {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  background-color: $body-bg;
  color: $body-color;
  margin: 33px;
  @include default-font;

  p, ol, ul, td {
    @include default-font;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $link-color;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;  
    background-color: $link-hover-bg;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: $notice-color;
}

.field_with_errors {
  padding: 2px;
  background-color: $error-color;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $error-color;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}